{% extends 'base.html.twig' %}

{% block title %}
	Mon article 12
{% endblock %}

{% block body %}

	<article>
		<h2>Titre de l'article</h2>
		<div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
		<div class="content">
			<img src="http://placehold.it/350x150" alt="img1">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis inventore, adipisci ut atque labore sapiente?</p>
			<p>Beatae, ullam incidunt! Rerum maxime, sit reprehenderit aliquam voluptatibus excepturi accusamus repellat officia impedit accusantium.</p>

		</div>
		<hr>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur expedita aperiam dolore aliquam facere vitae corrupti fugit porro unde inventore deserunt, autem repudiandae nobis commodi non deleniti quidem. Iste ea asperiores nulla ullam, odio totam vel natus tenetur est quae cum quia facilis dicta nam iusto magnam repellendus non iure.</p>
		<p>Necessitatibus, esse odio. Illum praesentium beatae ad autem maiores ratione quis doloremque impedit? Voluptates, ipsum explicabo reiciendis sit magni quam provident sequi tempore hic blanditiis in perspiciatis illum iusto dolorem facere necessitatibus unde nesciunt magnam molestias suscipit cupiditate aut earum alias! At animi sed sequi quas, cupiditate culpa quo commodi.</p>
	</article>
{% endblock %}
