<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
		<link rel="stylesheet" href="/assets/bootstrap-4.0.0/bootstrap.min.css">
		<script src="/assets/bootstrap-4.0.0/jquery-3.2.1.slim.min.js"></script>
		<script src="/assets/bootstrap-4.0.0/popper.min.js"></script>
		<script src="/assets/bootstrap-4.0.0/bootstrap.min.js"></script>
	</head>
	<body>
		{% include 'nav.html.twig' %}

		<div class="container"> {% block body %}{% endblock %}
			</div>

		</body>
	</html>
